#board {
    padding: 3em;
}

body {
    height: 750px;
}

h1 {
    text-align: center;
    background-color: blueviolet;
    width: 5em;
    margin: 0 auto;
    border: teal 3px solid;
    color: white;
    padding: 5px;
}

.row {
    clear: both;
    margin: 4em auto;
    width: 302px; 
}

.column {
    float: left;
    width: 100px;
    height: 100px;
    position: relative;
}

.top {
    border-bottom: 1px blueviolet solid;
}

.center {
    border-bottom: 1px blueviolet solid;
}

.left {
    border-right: 1px blueviolet solid;
}

.right {
    border-left: 1px blueviolet solid;
}

.row, .column:hover {
    cursor: pointer;
}

.X-or-O {
    font-size: 3em;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}



.hidden {
    display: none;
}

.show {
    display: block;
    position: absolute;
    bottom: 33.33%;
    left: 50%;
    transform: translateX(-50%);
    width: 10em;
    height: 5em; 
    background-color: blueviolet;
    color: white;
    border: teal 3px solid;
    font-size: 1em;
}

